{{ define "main" }}
<div class="default-single">
  <div class="ax-title ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthTitle | default "max-w-5xl") }}">

      {{- with .Params.tags }}
        <div class="ax-tags flex flex-wrap space-x-1.5 py-0.5">
          {{- $term := index $.Site.Taxonomies "tags" }}
          {{- range . }}
            {{- $tag := index $term . }}
            <a href="{{ $tag.Page.RelPermalink }}" class="text-base font-semibold inline-block text-blue-400">
              #{{ $tag.Page.Title }}
            </a>
          {{- end }}
        </div>
      {{- end }}

      <h1 lang="{{ .Params.Lang }}" class="post-title font-content-title font-normal leading-tight tracking-default text-34 sm:text-40">{{ .Title }}</h1>
      {{- if .Params.subtitle }}
      <p class="post-subtitle font-content-sans font-light text-xl text-raven-500 mt-3">{{- partial "meta-subtitle" . | safeHTML -}}</p>
      {{- end }}

      <div class="ax-meta flex items-center mt-5 max-w-3xl">
        <div class="flex-grow min-w-0">
          {{ partial "author" . }}
        </div>
      </div>
    </div>
  </div>

  {{- if .Params.feature }}
  <div class="ax-feature ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthFeature | default "max-w-5xl") }}">
      {{- partial "feature" . }}
    </div>
  </div>
  {{- end -}}

  <div lang="{{ .Params.Lang }}" class="ax-content ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthContentContainer | default "max-w-5xl") }}">
      <div class="lg:flex">
        {{- if .Params.toc }}
          <aside class="toc lg:sticky top-2 right-2 self-start justify-self-end mb-8 lg:order-last lg:ml-6 lg:max-h-screen lg:overflow-y-auto">{{- partial "toc" . }}</aside>
        {{- end }}
        <article class="cdata flex-grow max-w-3xl">
          {{- .Content }}
          <aside class="flex space-x-3 space-y-4 text-sm sm:items-center sm:flex-wrap sm:justify-end flex-col sm:flex-row">
            <div class="flex-grow"></div>
            {{ partial "share" . }}
            {{- $discussionURL := .Params.discussion | default $.Site.Params.discussionDefaultURL }}
            {{- if $discussionURL }}
              <a class="block text-raven-600 hover:text-raven-900" href="{{ $discussionURL }}" target="_blank" rel="noopener" title="Discuss on GitHub">
                <div class="flex space-x-2 items-center">
                  <div>{{- partial "svg/github.svg" (dict "class" "w-6 h-6 fill-current") -}}</div>
                  <span>Discuss on GitHub</span>
                </div>
              </a>
            {{- end }}
            {{- if $.Site.Params.contentEditBaseURL }}
              <a class="block text-raven-600 hover:text-raven-900" href="{{ $.Site.Params.contentEditBaseURL }}{{ .Path }}" target="_blank" rel="noopener nofollow" title="Suggest Edits on GitHub">
                <div class="flex space-x-2 items-center">
                  <div>{{- partial "svg/file.svg" (dict "class" "w-6 h-6 fill-current") -}}</div>
                  <span>Suggest Edits</span>
                </div>
              </a>
            {{- end }}
          </aside>
        </article>
      </div>
      {{ partial "google-adsense-ad-slot" . }}
      {{ partial "disqus" . }}
    </div>
  </div>
</div>
{{ end }}
